<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private</title>
</head>
<body>
    <p>Inside Private Page</p>
    <p>{{error}}</p>
    <p>ID: {{result._id}}</p>
    <p>User Name : {{result.username}}</p>
    <p>First Name: {{result.firstName}}</p>
    <p>Last Name : {{result.lastName}}</p>
    <p>Profession: {{result.profession}}</p>
    <p>Bio : {{result.bio}}</p>
    <a href="/logout">Logout</a>
</body>
</html>